*.jpg
*.jpeg
*.mp4
*.avi
*.pth
*.json
*.mkv
*.zip
*.txt
*.png
*.plan
*.swp
*.swo
*.log

.git/
.idea/
**/__pycache__/
.vscode/
.mypy_cache/
**/.ipynb_checkpoints/
.DS_Store

docker/docker_build.sh
logs/
**/checkpoints
data
